---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog Archive";
import '../styles/global.css';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];

---
<BaseLayout pageTitle={pageTitle}>
<h2>All Posts (Sorted Newest to Oldest)</h2>
<ul>
	{allPosts.toReversed().map((post: any) => 
	<li><a href={post.url}>{post.frontmatter.title}</a> ({post.frontmatter.pubDate.toString().slice(0,10)})</li>)}
</ul>
<h2>Tags</h2>
<ul>
	{uniqueTags.map((tag) => <li><a href={`/tags/${tag}`}>{tag}</a></li>)}
</ul>

</BaseLayout>
